* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

img {
  width: 200px;
  height: 200px;
}

.main-header {
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-size: 18px;
}

.product {
  border: 4px solid;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}
.description {
  margin-bottom: 10px;
  clear: both; /*Fixes the floating problem */
}
.more-info {
  margin-bottom: 20px;
}
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.strong {
  font-size: 22px;
}

.shipping {
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.sale {
  background-color: #ec2f2f;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: -17px;
  left: -38px;
  letter-spacing: 2px;
}

/* Product Details */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.details-list {
  list-style: square;
}

/*BUTTON*/

.add-cart {
  background-color: black;
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.add-cart:hover {
  color: black;
  background-color: white;
  border-top: 4px solid;
}

ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.details-list {
  margin-bottom: 10px;
}

.box1 {
  width: 50px;
  height: 10px;
  display: inline-block;
  color: black;
}

.color {
  width: 22px;
  height: 22px;
  background-color: #000;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: #ec2f2f;
}

.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}

.product-image {
  float: left;
  margin-right: 40px;
}

.product-info {
  /* (825-8-250-80) =  */
  width: 240px;
  float: left;
  margin-top: 20px;
  display: inline-block;
  margin-right: 40px;
}
.product-details {
  width: 240px;
  float: left;
}

.strong {
  float: left;
}
.shipping {
  margin-top: 6px;
  float: right;
  font-size: 14px;
}
